@keyframes home-text-anim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes home-text-anim-p {
  0% {
    top: 100%;
  }
  100% {
    top: 40%;
  }
}
@keyframes home-text-anim-h3 {
  0% {
    top: -100%;
  }
  100% {
    top: 30%;
  }
}
