// En font
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
// Ko font
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
// Ru font
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

$bg-color: rgb(0, 0, 0);
$light-color: rgb(255, 255, 255);

$font-stack: "Dancing Script", cursive;

$font-stack-en: "Dancing Script", cursive;
$font-stack-ru: "Bad Script", cursive;
$font-stack-ko: "Nanum Myeongjo", serif;

// Change font sizes on mobile devices
$font-home-p: 2rem;
$font-home-h3: 2.8rem;
$font-app-name: 4rem;
$font-navbar-links: 3rem;

$home-post-color-1: rgba(252, 204, 47, 0.3);
$home-post-color-2: rgba(0, 162, 255, 0.3);
$home-post-color-3: rgba(102, 255, 0, 0.3);
$animation-duration: 1.5s;
