// En font
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
// Ko font
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
// Ru font
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
// Jp font
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

$bg-color: rgb(0, 0, 0);
$light-color: rgb(255, 255, 255);

$font-stack: "Dancing Script", cursive;

$font-stack-en: "Caveat", cursive;
$font-stack-ru: "Caveat", cursive;
$font-stack-jp: "Noto Serif JP", serif;
$font-stack-ko: "Nanum Myeongjo", serif;

// Change font sizes on mobile devices
$font-home-p: 2.5rem;
$font-home-h3: 3rem;
$font-app-name: 4rem;
$font-navbar-links: 3rem;

$home-post-color-1: rgba(255, 0, 38, 0.3);
$home-post-color-2: rgba(255, 123, 0, 0.3);
$home-post-color-3: rgba(255, 230, 0, 0.3);
$home-post-color-4: rgba(51, 255, 0, 0.3);
$home-post-color-5: rgba(0, 255, 221, 0.3);
$home-post-color-6: rgba(25, 0, 255, 0.3);
$home-post-color-7: rgba(153, 0, 255, 0.3);

$contacts-color: rgba(0, 255, 221, 0.527);
$contacts-icon-color: rgb(255, 227, 70);
$contacts-form-bg: rgba(255, 69, 69, 0.705);
$contacts-form-input-focus: rgba(255, 71, 71, 0.815);
$contacts-form-input: rgba(43, 179, 241, 0.671);
$animation-duration: 1.5s;
