.carousel {
  height: 100%;
  &-inner {
    height: 100%;
  }
  .carousel-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: right bottom;
    }
    .carousel-caption {
      width: 50%;
      top: 0;
      bottom: 0;
      padding: 0;
      .content {
        opacity: 0;
        width: 70%;
        margin: auto;
        @include flex-box(column, center, center);
      }
    }
    &:nth-child(3n + 1) {
      @include home-post-left($home-post-color-1);
    }
    &:nth-child(3n + 2) {
      @include home-post-right($home-post-color-2);
    }
    &:nth-child(3n + 3) {
      @include home-post-left($home-post-color-3);
    }
  }
  .active {
    .carousel-caption {
      .content {
        opacity: 1;
        animation: home-text-anim 2s ease-in-out;
      }
    }
  }

  .carousel-indicators {
    @include flex-box(column, space-between, center);
    right: 12px;
    left: auto;
    margin: 0;
    bottom: 50%;
    transform: translateY(50%);
    button {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
      &.active {
        background-color: rgb(67, 186, 255);
      }
    }
  }
}
