.navbar {
  @include flex-box(row, space-between, center);
  margin: 0 auto;
  padding: 20px 1em;
  width: 80%;
  height: 5vh;
  &-app__name {
    width: 20%;
  }
  &-app__links {
    @include flex-box(row, space-between, center);
    list-style: none;
    width: 50%;
    li {
      a {
        text-decoration: none;
      }
    }
  }
}
