.navbar {
  @include flex-box(row, space-between, center);
  margin: 0 auto;
  width: 90%;
  height: 10vh;
  padding: 0 !important;

  &-app__name {
    @include flex-box(row, space-between, center);
    width: 30%;
    height: 100%;
    margin: 0;
    p {
      font-size: $font-app-name;
      color: change-color($color: $home-post-color-1, $alpha: 1);
      text-align: center;
      height: fit-content;
    }
  }
  &-app__links {
    @include flex-box(row, space-between, center);
    list-style: none;
    width: 50%;
    margin: 0;
    li {
      a {
        text-decoration: none;
        font-size: $font-navbar-links;
        color: change-color($color: $home-post-color-3, $alpha: 0.8);
        transition: 0.3s ease-in-out;
      }
      &:hover {
        a {
          color: change-color($color: $home-post-color-2, $alpha: 0.8);
        }
      }
    }
  }

  &-app__lang {
    position: relative;
    .language__button {
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .language__modal {
      @include flex-box(row, space-between, center);
      background-color: rgba(255, 255, 255, 0.589);
      width: calc(2.5rem * 4 + 30px);
      padding: 10px;
      border-radius: 20px;
      bottom: -200%;
      right: 50%;
      transform: translateX(50%);
      position: absolute;
      z-index: 100;
    }
    .nav__btn {
      font-size: 3rem;
      color: white;
    }
  }
}

.en {
  p,
  a {
    font-family: $font-stack-en !important;
  }
}
.ko {
  p,
  a {
    font-family: $font-stack-ko !important;
  }
}
.ru {
  p,
  a {
    font-family: $font-stack-ru !important;
  }
}
.jp {
  p,
  a {
    font-family: $font-stack-jp !important;
  }
}
