@import "utils/config";
@import "utils/mixins";
@import "utils/animations";
@import "utils/custom";

@import "carousel";
@import "helpers";
@import "navbar";
@import "contacts";

* {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 62.5%;
}

.app {
  background-color: $bg-color;
  height: 100vh;
  width: 100vw;
  color: $light-color;
  overflow: hidden;
}

.content {
  margin-top: 2em;
  height: 95vh;
}

button {
  background-color: transparent;
  border: none;
}
a {
  text-decoration: none !important;
}

.lang__en {
  h1,
  h3,
  p,
  a,
  label,
  input,
  button {
    font-family: $font-stack-en !important;
  }
}
.lang__ko {
  h1,
  h3,
  p,
  a,
  label,
  input,
  button {
    font-family: $font-stack-ko !important;
  }
}
.lang__ru {
  h1,
  h3,
  p,
  a,
  label,
  input,
  button {
    font-family: $font-stack-ru !important;
  }
}
.lang__jp {
  h1,
  h3,
  p,
  a,
  label,
  input,
  button {
    font-family: $font-stack-jp !important;
  }
}
